---
import AboutMyImage from "../assets/foto.jpeg";
import Layout from "../layouts/BlogPost.astro";
---

<Layout
  title="Sobre Mim"
  description="Um pouco de quem eu sou e qual a minha motivação"
  pubDate={new Date("December 24 2025")}
  heroImage={AboutMyImage.src}
>
  <p>
    Olá! Meu nome é Thiago Lorhan, sou aluno de Engenharia da Computação na Universidade Federal da Paraíba (UFPB)
    e faço parte da Technology and Artificial Intelligence League (TAIL) do
    Centro de Informática (CI). Desenvolvi esse site com o propósito de aprender e
    expandir meu conhecimento em Machine Learning para poder estar capacitado e
    adaptado ao mercado, projetos e ideias pessoais. Não só isso, também pensei
    que a melhor maneira de aprender seria ensinando! poder compartilhar o
    conhecimento que eu adquirir com aqueles que podem estar passando pelo mesmo
    processo de aprendizado que eu passei, nessa área tão abrangente e
    promissora, é o que me inspira.
  </p>

  <p>
    Espero que eu possa ajudar de alguma forma quem estiver acessando esse site
    para aprender Machine Learning e incentivar essa curiosidade por essa grande
    área!
  </p>
</Layout>
