---
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import { SITE_DESCRIPTION, SITE_TITLE } from "../consts";
import '../styles/home-roadmap.css'
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header />
    <main>
      <h1>Aprendendo Machine Learning</h1>
      <p>
        Este site estará destinado as minhas anotações de estudos sobre Machine
        Learning. Portanto, aqui será registrado todo tipo de aprendizado que eu
        adquirir durante os estudos e estarei tentando explicar todo o conteúdo
        aprendido.
      </p>
      <p>
        A ordem de conteúdo será conforme está no curso de <a
          href="https://learn.deeplearning.ai/specializations/machine-learning/lesson/bw6i6/welcome-to-machine-learning!"
          >Machine Learning do deeplearning.ai</a
        > com adições de conteúdos a minha preferência, na qual eu achar relevante.
      </p>
      <p>Aqui estão os meus registros de estudos divididos em tópicos:</p>
      <ul class="roadmap-list">
        <li class="category-item">
          <span class="category-title">🤖 Machine Learning Teórico</span>
          <ul class="sub-list">
            <li>
              <a href="/blog/01-intro-machine-learning"
                >Introdução ao Machine Learning</a
              >
            </li>
            <li>
              <a href="/blog/02-regressao-linear-funcao-custo"
                >Regressão Linear e Função de Custo</a
              >
            </li>
            <li>
              <a href="/blog/03-gradiente-descendente">Gradiente Descendente</a>
            </li>
          </ul>
        </li>

        <li class="category-item">
          <span class="category-title">🐍 Python e Ferramentas</span>
          <ul class="sub-list">
            <li>
              <a href="/blog/configurando-ambiente">Jupyter, NumPy e Pandas</a>
            </li>
          </ul>
        </li>

        <li class="category-item">
          <span class="category-title">🚀 Projetos Práticos</span>
          <ul class="sub-list">
            <li>
              <a href="/blog/meu-primeiro-modelo">Prevendo preços de casas</a>
            </li>
          </ul>
        </li>
      </ul>
      <p>
        Have fun! If you get stuck, remember to
        <a href="https://docs.astro.build/">read the docs</a>
        or <a href="https://astro.build/chat">join us on Discord</a> to ask questions.
      </p>
      <p>
        Looking for a blog template with a bit more personality? Check out
        <a href="https://github.com/Charca/astro-blog-template"
          >astro-blog-template</a
        >
        by <a href="https://twitter.com/Charca">Maxi Ferreira</a>.
      </p>
    </main>
    <Footer />
  </body>
</html>
